.section {
  height: auto;
  padding: 40px;
  padding-bottom: 50px;
  box-shadow: 0 4px 8px -4px var(--msl-color-pink);
  scroll-margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section:first-of-type {
  margin-top: 100px;
}

.title-section {
  color: var(--msl-color-pink);
  font-weight: 900;
  font-size: 50px;
  padding-bottom: 30px;
}

@media (max-width: 375px) {
  .section {
    scroll-margin-top: 150px;
  }
  .section:first-of-type {
    margin-top: 170px;
  }
  .title-section {
    font-size: 40px;
  }
}
